<%- include('../partials/header') %>
<%- include('../partials/navbar', { user: user }) %>

<div class="container w-50 justify-center mt-5">
    <%- include('../partials/post-feed'), {
        user: user,
        post: post
    } %>
</div>

<%- include('../partials/footer') %>