<%- include('partials/header') %>
<%- include('partials/navbar', { user: user }) %>

<div class="container w-50 justify-center">
    <h1 class="mt-3">Register</h1>

    <% if (flash) { %>
        <p><%= flash %></p>
    <% } %>

    <form action="/register" method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input class="form-control" type="text" id="first_name" name="first_name" required>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input class="form-control" type="text" id="last_name" name="last_name" required>
        </div>
        <div class="form-group">
            <label for="user_email">Email</label>
            <input class="form-control" type="email" id="user_email" name="user_email" required>
        </div>
        <div class="form-group">
            <label for="location_city">City</label>
            <input class="form-control" type="text" id="location_city" name="location_city" required>
        </div>
        <div class="form-group">
            <label for="location_state">State</label>
            <input class="form-control" type="text" id="location_state" name="location_state" required>
        </div>
        <div class="form-group">
            <label for="biography">Biography</label>
            <input class="form-control" type="text" id="biography" name="biography" required>
        </div>
        <button class="btn btn-md mt-3" style="background-color: #5e0009; color: white;" type="submit">Register</button>
    </form>
</div>

<%- include('partials/footer') %>